[2015-12-27 18:00] JaG-v2 opened #1 "Bug with long answer in function get_answer()"
There is an issue with this function, when the answer is longer than 1024 characters.
The answer is truncated to the first 1024 characters.
I found the issue when I tried to retrieve my ban list, which contains 48 lines.
BTW thanks for the great job, very usefull class

[2015-12-27 20:02] felixms commented on #1
Thank you for reporting the issue! Fixed the problem, up to 65536 characters are now possible :smile:

[2015-12-27 20:41] JaG-v2 commented on #1
Thanks for prompt answering :). I just made a test, but I still have the same problem.
It still only contains 1024 characters

I made an adjustment, which is working, but probably not the best. Here is my content for the get_answer function :

[code]

Then the output is correct
I also put the substr to 12 in the while, otherwise, I had a weird output

[2015-12-27 23:47] felixms commented on #1
Mmmh, alright, anyway thanks for your help! I can't test this at the moment, but may you try this please:

[code]

[2015-12-28 10:09] JaG-v2 commented on #1
Things getting better :)
A few issue at the begin of the output and when the output is concatenated.
I fixed the concatenated part with :

[code]

But the begin is still not pretty :

[code]

[2015-12-28 10:21] felixms commented on #1
The problem is, that we want to remove the head from the message, and the head has a different length in your case. May you test another thing for me please? Add the private class var $head and add to the send function:

[code]

and finally the $get function in get_answer() should be:

[code]

This should do the work, I used it in earlier versions. Thank you for your help! :smile:

[2015-12-28 10:32] JaG-v2 commented on #1
Yes it's working great thanks a lot :)
Just, when I view the source, I still got those weird signs, like if the data of a character was split
But it isn't a problem, as the string doesn't not contains those signs when I var dump the var and is still usable in the rest of the app without any issue.
I've got another question :). I would like to find a way to receive the message from the server conso

[2015-12-28 10:47] felixms commented on #1
Nice to hear, that it works! I understand your question, have you tried to set get_answer() public and run the function, e.g. in a loop. Otherwise there isn't any possibility to do this in PHP, if you want a static connection to the server, you should give NodeJS a try. If you try it the PHP way, you'd better use socket_create(), but it should not make any big difference.

[2015-12-28 10:48] #1 closed, assigned to nobody

[2015-12-28 10:53] JaG-v2 commented on #1
I was maybe a little too quick in my analysis :(
Still got an unwanted Rcon admin in the string
Unfortunately, I don't have any skill in NodeJS. Though about the socket, will try this way. Thanks for advice :)

[2015-12-28 11:04] felixms commented on #1
This should finally do the trick:

[code]

Sorry, that you have to test it, I don't have any Arma server ready at the moment :+1:

[2015-12-28 13:25] JaG-v2 commented on #1
Working like a charm :)
BTW, I'm using it on a DayZ Standalone server, so you can add it to the supported server list. Note that ATM, RCON is only usable on Privates Hives of DayZ SA Servers
My next step is to try to log the console, I'll keep you informed if I managed to do it. :)
Last thing, I made a small change in order to give a reason when you kick someone :

[code]

[2015-12-28 16:05] felixms commented on #1
Thank you for the enhancement :) I've added it to v1.3.4. I'd like to hear more about your try, I also got an idea, might be useful for you. If you are interested, you may add me on steam, so we can talk a little bit more :smile: http://steamcommunity.com/id/nizarii/

[2015-12-29 09:14] JaG-v2 commented on #1
Nice :)
I'd be please to discuss about this. I'll add you on steam asap :)

[2016-01-11 23:22] nerdalertdk opened #2 "Chat"
Hi

Would it be able get the In game chat ?
Like if someone call's for an admin ?

[2016-01-12 17:24] felixms commented on #2
Unfortunately the chat is not handled via RCon, so there is no direct way for retrieving it.

[2016-01-12 17:24] #2 closed, assigned to felixms

[2016-02-15 10:48] Milou544 opened #3 "Error Ban Arma 3"
Hello, I have a problem with the ability to ban a player.

`
$rcon->ban_player('f276e058bbaaff85d23070c9bd43e2aa', 'test', 30);
`

`Return true`

But at the console is not banned. We see just that it is logged

[2016-02-15 16:44] felixms commented on #3
The command is sent properly (see [here](https://community.bistudio.com/wiki/BattlEye#GUID_banning)), looks like a server side fault to me.

[2016-02-15 16:45] #3 closed, assigned to felixms

[2016-02-23 12:23] nerdalertdk opened #4 "feature request: have get_players return array"
Hi,

Working on an control panel for my servers and right now i just get one big text string with player info and i have to hack with regex

[2016-02-23 14:08] felixms commented on #4
I was thinking about doing this a time ago, but I hadn't the time for it. I will add this feature asap, I found an [Altis Life forum post](http://www.altisliferpg.com/topic/10954-battleye-rcon-php-class/#comment-68211), where it's already done.

[2016-02-23 17:38] nerdalertdk commented on #4
Well like my version better :)

[code]

[2016-02-23 19:45] #4 closed, assigned to nobody

[2016-02-25 23:46] nerdalertdk opened #5 "remove RCon admin on login"
Hi,

is there any way to remove the RCon admin when open a connection ?
I am making an ban controlpanel with extra features and every time i run a command i log in :(

ps. i have multiple server support so have to connect to the server I select when running a command

[2016-02-26 12:15] felixms commented on #5
Well, foreach server you need to create a new object, e.g.:

[code]

When you run a command(), `RCon Admin` shouldn't be in the message. `get_answer()` should filter this:

[code]

[2016-02-26 17:54] nerdalertdk commented on #5
yeah, $server1, $server2 would not work since its more of an admin portal :)
see bans, players, admin login system.

I dont get the Rcon admin in my answer but do get it ingame

I have a status page, where it would display if rcon is online, the  first version check the pass every time so had a lot Rcon admin ingame, fixed that by checking the password when adding the server, if it was correct it

[2016-02-26 18:14] nerdalertdk commented on #4
updatede script for a better return array :)

[2016-02-26 20:12] felixms commented on #4
@nerdalertdk Seems pretty good to me, is it ok, if I'll add this to ARC with your credits?

[2016-02-26 20:45] nerdalertdk commented on #4
sure, but maybe make it so you have both one called get_players() and one get_players_array()

this line is important, since it removes weird chars
$players = preg_replace("/[\x00-\x09\x0B\x0C\x0E-\x1F\x7F]/", "", $rcon->get_players() );

also my scripts works with get_bans

[2016-03-07 19:33] Memphis017 commented on #2
Yes it is, server is broadcasting chat message to all connected RCon clients, but you need to stay connected to retrieve those, so it's not possible only in php (= ajax needed).

[2016-03-07 20:53] felixms commented on #2
@Memphis017 Alright, thanks for this information. Ajax is not necessarily needed, you can use a [daemon](https://github.com/shaneharter/PHP-Daemon) and a [websocket](http://socketo.me/). Of course, this isn't the best solution for such a scenario, because there are, as you said, other programming languages, which do better. Anyway, this is propably the easiest way for a chat protocol fully done in

[2016-03-07 20:58] #5 closed, assigned to felixms

[2016-03-09 16:58] alexcroox commented on #4
I get

[code]

Querying an empty server

Line in question

[code]

[2016-03-09 22:02] alexcroox opened #6 "Feature Request: Show mission name + player time connected"
I've switched from the [Source Query](https://github.com/xPaw/PHP-Source-Query) library because that one can't return BE GUID for players. However I still have to use it for certain info I wondered if possible to also gain through RCON in this library:
- Mission name
- Player connected time

[2016-03-10 10:29] felixms commented on #6
I'm sorry to disappoint you, but as far as I know, this is not possible with RCon. See this [wiki article](https://community.bistudio.com/wiki/BattlEye#RCon_commands). I may integrate the Source Query library in order to get query informations too as needed.

[2016-03-10 10:32] alexcroox commented on #6
Fair enough, thanks for looking into it :)

[2016-03-10 10:59] #6 closed, assigned to nobody

[2016-03-11 14:06] Memphis017 commented on #6
You should have a look at this library instead of Source Query : [https://github.com/Austinb/GameQ](url) which have everything you want (except GUID which is, to my knowledge, only provided by RCon because it's BattlEye stuff).

[2016-03-11 14:09] alexcroox commented on #6
Nice thank you. Source Query is already giving me everything I need (that I can't get from RCON) so it was a matter of trying to find a library that has it all instead of replacing like for like. I'll still have to make 3 queries for player connected time, mission name, player GUIDs. I appreciate that this is out of the scope of this library as it's not possible from RCON alone :)

[2016-05-12 15:47] D3RFLO opened #9 "getPlayersArray Funktioniert nicht."
Hi, die Neue API funktioniert soweit ganz gut. Allerdings wenn ich die Spieler in einem Array haben will: `$players = $rcon->getPlayersArray();` und sie dann Test weise mit mit print_r `print_r($players);` ausgeben will sieht man auf der Seite einfach nur `Array ( )`

[2016-05-12 16:28] felixms commented on #9
mmh, kurz mal ne doofe Frage, aber ist das mit `getBansArray()`  das gleiche? Ich schau mir mal die Funktionen an, zeigt dir bei der Ausführung PHP einen Fehler/Notice an?

[2016-05-12 16:30] D3RFLO commented on #9
Wenn ich `getBansArray()` versuche kommt das gleiche. Es kommt auch keine Fehler/Notice Meldung

[2016-05-12 16:33] felixms commented on #9
Ok danke. Ich schau mal ob mir etwas ins Auge fällt, testen kann ich aktuell jedoch leider nichts. :/

[2016-05-12 16:34] D3RFLO commented on #9
Ok, vielen dank ;)

[2016-05-14 08:45] felixms commented on #9
Mir ist bis jetzt nichts Ungewöhnliches aufgefallen, bis auf https://github.com/Nizarii/arma-rcon-class-php/blob/master/arc.php#L532. Kannst bitte mal die Funktion `formatList` durch [diese hier](https://gist.github.com/Nizarii/3c5961d82f8a02e6ea2024b132ef5f52) ersetzten? Vielen Dank schon mal im voraus! :+1:

[2016-05-14 11:22] D3RFLO commented on #9
Habe ich gemacht, funktioniert leider immer noch nicht.

[2016-05-14 11:48] felixms commented on #9
Wie viele Spieler sind den auf dem Server wenn du das testest? Rein theoretisch müsste der code nämlich funktionieren :/

[2016-05-14 12:34] D3RFLO commented on #9
Nur ich. Kann es vielleicht daran liegen das ich `print_r` benutze? (Um es im Moment nur zu testen)

[2016-05-14 14:15] felixms commented on #9
An `print_r` sollte es nicht liegen :/ Kannst du das ganze testen mit mehr als einer Person auf dem Server? Sofern es natürlich nicht zu umständlich wäre ^^ Ich würde mich auch zur Verfügung stellen um dem Server zu joinen, bei Interesse, hier mein [Steam-Profil](http://steamcommunity.com/id/nizarii/).

[2016-05-14 14:23] D3RFLO commented on #9
Wäre echt nett. Du könntest auf den Teamspeak: 194.169.211.51:11500 Kommen. Ich bin aber jetzt gleich für ca. 1 Stunde weg, wir könnten es Testen wenn ich wieder da bin.

[2016-05-17 16:28] 0FakE opened #10 "getPlayersArray / getBansArray"
Mir ist bis jetzt nichts Ungewöhnliches aufgefallen, bis auf https://github.com/Nizarii/arma-rcon-class-php/blob/master/arc.php#L532. Kannst bitte mal die Funktion formatList durch **diese hier** ersetzten? Vielen Dank schon mal im voraus! :+1:

Ich habe das selbe Problem, dass offenbar schon geklärt wurde.
Leider ist der "diese hier" Github Link von dir nicht mehr aktiv.

Die Fehlerquelle ist:

p

[2016-05-17 19:29] felixms commented on #10
Also getPlayersArray funktioniert bei dir so wie es sein soll?

[2016-05-18 14:23] 0FakE commented on #10
getPlayersArray & getBansArray geben ausschließlich leere Arrays zurück,
obwohl getPlayers & getBans die unformatierte Version ordentlich anzeigt.

Ändere ich folgende Zeile in getPlayersArray

`$playersRaw = $this->send("players");`

in

`$playersRaw = $this->send("players") ? $this->getAnswer() : false;`

gelingt auch die formatierte Ausgabe des PlayerArrays.

Allerdings gibt das BanArray nur un

[2016-05-18 14:27] 0FakE commented on #10
Ebensfalls ein seltsames Phänomen ist es, dass die RCON Verbindung
immer wieder sofort geschlossen wird. Setze ich die Variable

`private $disconnected = true;`

auf false, um die Verbindung selbst mit close zu schließen, ist die Funktion
in diesem Falle nutzlos und gibt sogar noch verschiedene Fehler zurück.

Auch die Session `private $socket = null;` so zu definieren, gibt bei
manueller Beendigu

[2016-05-18 14:28] 0FakE commented on #10
Falls näheres Interesse deinerseits besteht die Probleme zu lösen,
können wir uns auch gern persönlich unterhalten. Wie und wo auch immer...

[2016-05-18 14:40] felixms commented on #10
Vielen Dank für dein Feedback.
Du hast mich auf einen kleinen Leichtsinnsfehler aufmerksam gemacht : Wie du schon geschrieben hast, `$playersRaw = $this->send("players");` natürlich ist das Ergebnis leer, wenn die Antwort vom Server nicht abgelesen wird :joy:
Die Verbindung sollte eigntl erst am Ende geschlossen werden, da `close()` erst im Destruktor aufgerufen wird. Um die Verbindung manuell zu

[2016-05-18 15:17] 0FakE commented on #10
In Ordnung.
Ich lasse dir sobald alles verfügbar ist, ein Feedback zukommen.

Nochmal zum Thema Verbindung Beenden...

Wieso ist die Variable $disconnected dann in der Klasse extra definiert?
Ich würde die Verbindung gern selbst aufrecht erhalten.

Okay... in den Deconstructor habe ich noch nicht geschaut.

[2016-05-18 15:27] felixms commented on #10
Die Verbindung wird ja solange aufrecht erhalten, bis die Klasse nicht mehr gebraucht wird. Deswegen steht ja `close()` im Destruktor.

[2016-05-18 15:34] 0FakE commented on #10
Ja, ich würde die Verbindung gern solange aufrecht erhalten, bis ich sie schließe.

---

var_dump($rcon->getBans());
var_dump($rcon->getBansArray());

getBans -> liefert den unformierten Text zurück
getBansArray --> liefert ein leeres Array

[2016-05-18 15:35] 0FakE commented on #10
Wie ich gestern schon geschrieben habe, konnte ich den Fehler auf
die Funktion `preg_match_all` eingrenzen, kenne mich aber nicht mit
Suchmustern aus.

Vielleicht könntest du hier nochmal drüber schauen?

Ansonsten ist alles Standard im Script bis jetzt.
Die Aufrechterhaltung der Verbindung ändere ich später, wenn alle Probleme behoben sind.

[2016-05-18 15:44] felixms commented on #10
Danke für die Rückmeldung, ich schau mir mal die RegEx an. Nochmals wegen der Verbindung, diese bleibt bis zur Beendung des Scripts bestehen und wird dann automatisch geschlossen. Solltest du diese vorher schließen wollen, musst du nur `close()` ausführen. Die Verbindung aufrecht zu erhalten nach Ausführung des Scripts ist nur mit einem Daemon möglich und es sollte da ebenfalls kein Problem mit de

[2016-05-18 16:07] 0FakE commented on #10
Auf was ich auch aufmerksam geworden bin, ist die Tatsache, dass zum
kicken eines Spielers ein `integer` nötig ist, also dessen aktuelle ID auf dem Server.

[code]

Die Befehle die an den Server via. RCON gesendet werden, können auch
den Namen, die ID oder die GUID enthalten. In deiner Funktion `banPlayer`
kann einen String angeben, also sowohl die Name, ID usw.

Vielleicht wäre eine Überarbeitung

[2016-05-18 16:13] 0FakE commented on #10
Was auch noch zu erwähnen wäre, ist die Tatsache, dass bei einem Fehler
das Script einen falschen boolean Wert zurück gibt.

`var_dump($rcon->kickPlayer("FakE", "TEST BAN"));`

Gekickt werde soll der Spieler FakE. Da die Funktion allerdings nur einen
integer Wert, statt dem Namen zulässt, sollte eigentlich ein Fehler erscheinen.
**Nicht zuletzt dann, wenn der RCON Befehl nicht ausgeführt werden ko

[2016-05-18 16:17] felixms commented on #10
Mit dem Parameter kümmer ich mich drum. Aktuell wird halt nur gecheckt, ob der Befehl gesendet werden konnte. Vielleicht hast du ja eine Idee, wie man checken kann, ob der Befehl ausgeführt wurde.

[2016-05-18 16:21] 0FakE commented on #10
---

Ignorieren wir diesen Punkt mal...

Hat sich etwas neues bzgl. den banArrays ergeben?

[2016-05-18 16:25] felixms commented on #10
Ich kam bis jetzt noch nicht dazu, mir die RegEx genauer anzuschauen, ich meld mich morgen, ob es etwas neues gibt.

[2016-05-18 16:43] 0FakE commented on #10
Alles klar. Ich danke dir.
Ich würde mich sehr freuen, wenn das Problem irgendwie behoben werden kann.

[2016-05-19 17:39] felixms commented on #10
Mir ist bis jetzt nichts ungewöhnliches im Suchmuster aufgefallen. Ich werde, sofern heute noch möglich, den Author des Musters kontaktieren und ihn mal fragen.

[2016-05-19 18:44] felixms commented on #10
`getPlayers()` funktioniert mit der neusten Version, um `getBans()` kümmer ich mich.

[2016-05-19 18:44] #10 closed, assigned to nobody

[2016-05-19 18:45] #9 closed, assigned to felixms

[2016-05-19 18:50] felixms opened #11 "`getBans()` RegEx not working correctly"

[2016-05-19 22:24] nerdalertdk commented on #11
What's not working ?

[2016-05-20 05:17] nerdalertdk commented on #11
My getBans func work just fine on arma 3 1.58 using the old framework

[code]

Ahh can see you where using the wrong regex in your code :)

[2016-05-20 08:07] felixms commented on #11
Alright, thanks! :D

[2016-05-20 08:07] #11 closed, assigned to nobody

[2016-05-20 15:45] 0FakE commented on #10
Wie gesagt, getBansArray() gibt immer 0 aus.
Kannst du ja selbst nachprüfen...

[2016-05-20 15:49] felixms commented on #10
getBans funktioniert mit der neusten Version ;)

[2016-05-20 15:57] nerdalertdk commented on #10
Next time take it English that way I can see the array function was giving som problems :)

[2016-05-20 16:10] felixms commented on #10
Yes, would have been better :)

[2016-05-21 23:27] 0FakE opened #12 "Commands not working after kickPlayer() & banPlayer()"
Grüße Felix,

die Arrays der Spieler und Bans werden nun korrekt dargestellt.
Wie ich gelesen habe, lag der Fehler ja doch im Suchmuster.

Nun aber zu einem anderen Problem:

Beim Senden eines Formulars bsp. um einen Spieler zu kicken,
wird die Funktion `kickPlayer()` erfolgreich ausgeführt. Seltsamerweise
geben alle anderen Funktionen, die nach `kickPlayer()` aufgerufen werden
nichts mehr zurück.

[2016-05-22 05:43] felixms commented on #12
Nochmals danke für dein aufmerksames Feedback, ich bin derzeit nicht zu Hause und werde mich dem Problem annehmen sobald ich wieder zurück bin.

[2016-05-23 10:52] #12 closed, assigned to nobody

[2016-05-23 10:58] felixms commented on #12
Problem ist behoben. Warum die anderen Funktionen nach kick-, bzw. banPlayer() nicht mehr funktionieren ist mir schleierhaft, jedoch wurde dies mit der neuen Funktion `reconnect()` gelöst.

Ich bezog mich dabei auf die _Variable_ `$disconnected`, jedoch nicht auf die Funktion `close()`. Wie du schon gesagt hast, `close()` ist _public_ und kann jeder Zeit aufgerufen werden.

[2016-05-23 11:02] felixms commented on #12
Problem translated: After running `kickPlayer()` or `banPlayer()` other functions, e.g. `sayGlobal()`, were broken. Fixed this issue by running `reconnect()` after the execution of these commands.

[2016-05-23 11:54] 0FakE commented on #12
Vielen Dank für das schnelle Lösen des Problems.
Ich melde mich gern, solllten weitere Unklarheiten auftreten.

[2016-05-24 18:08] 0FakE opened #13 "Connection - fatal error"
Hallöchen,

deine RCON Klasse spuckt mir seit dem letzten Update folgenden Fehler aus:

`Fatal error: Uncaught exception 'Exception' with message '[ARC] Wrong parameter type!'`

Witzigerweise entsprechen allerdings alle Parameter den Vorgaben `string` oder `int`.

`$rcon = new \Nizarii\ARC("255.255.255.255", 2353, "Passwort");`

IP und Passwort wurden natürlich geändert.
Kommentiere ich die folgen

[2016-05-24 19:01] felixms commented on #13
Der Konstruktor wurde geändert, einfach Port und Passwort tauschen ;)

[2016-05-24 19:01] #13 closed, assigned to nobody

[2016-08-17 11:50] stevenklar opened #16 "No response after x seconds"
Hello Nizarii,

actually i'm using your Rcon Class in a queue daemon where I only opens the connection once and everytime I need new information there will be a new command issued.

The first command gives me successful information back. But all others after that are give me an "" empty response.

I thought maybe the heartbeat is wrong implemented. As it only get called once at the start.
My under

[2016-08-17 11:55] stevenklar commented on #16
Ah. Found this one. https://www.battleye.com/downloads/BERConProtocol.txt

[2016-08-17 12:48] felixms commented on #16
I never had this issue. I'll make the method `sendHearbeat()` public, so you can call it in your daemon loop in order to keep the connection alive.

[2016-08-17 12:51] stevenklar commented on #16
Wait. It doesn't seem to work that way. Actually my workaround is asking for information and if the response is '' I reconnect. But this is very server intense I guess.

Even if I send heartbeat every 5 seconds there is a result drop.

[2016-08-17 13:01] felixms commented on #16
I'll check the connection/socket. Maybe the timeout thing doesn't work right.

[2016-08-17 13:36] felixms commented on #16
Alright, as I understand it, the client has to respond in 10 seconds to every message sent by the server . Since PHP isn't the best language for daemons and socket.io like "socket.on(...)", a solution might be calling a method every 10 seconds, which checks for unresponded messages. This way the connection won't be closed by the server.

[2016-08-17 13:37] stevenklar commented on #16
Yep. That would be a solution. Do you have an idea how to do check for unresponded messages?

[2016-08-17 13:40] felixms commented on #16
Roughly, I'll test if just checking the socket for a packet is a smart idea ;)

[2016-08-17 19:34] felixms commented on #16
I did a lot of tests and came to the result, that it is not smart to respond to every message sent from the server. Because the in-game chat, as well as other things, are sent to all connected clients, you have to respond to all messages. This wouldn't be a problem, but we are using PHP, so you don't know how many messages are sent to the client. So instead of checking multiple times for a message

[2016-08-17 19:34] #16 closed, assigned to nobody

[2016-09-04 08:25] nerdalertdk opened #17 "Battleye id to steam id"
Hi

An option to convert Battleye Id to steam Id would be awesome
I've been googling all day but no luck find anything. So let's work together

[2016-09-04 14:08] nerdalertdk commented on #17
After more googling, I think this might be to much, found this python script, It basically just brute force "guess" then steam id. would take to many resources to do on the fly.

Only valid solution of can think of is a script that's calculate of steam id's and save them in an DB ( redis ) so you just have to call the db to convert, with an Redis DB this should not take long.

ps: python
https://w

[2016-09-04 14:08] #17 closed, assigned to nobody

[2016-09-04 14:16] nerdalertdk commented on #17
Hmm well gonna drop the Redis way, it would be an table with 400000000 (four hundred million) rows

[2016-11-27 14:48] majoess opened #18 "try and catch no error?"
Im using Laravel, I have the following code, comming from a form, there comes no error if the connection is 100% wrong.

[code]

[2016-11-27 20:45] felixms commented on #18
I'll take a look tomorrow :)

[2016-11-28 12:55] felixms commented on #18
ARC currently checks if the [socket is created](https://github.com/Nizarii/arma-rcon-class-php/blob/master/arc.php#L120) and if [writing the message to the socket](https://github.com/Nizarii/arma-rcon-class-php/blob/master/arc.php#L242) was successful. It does **not** validate the returned packages from the server nor it does acknowledge them.

acknowledge the packet within this time, it will be r

[2016-11-28 12:55] #18 closed, assigned to nobody

[2016-11-28 17:34] Choppra opened #19 "Chat"
Is there anyway to get chat?  Would that be possible?

[2016-11-28 18:47] felixms commented on #19
The chat is broadcasted to all connected clients. However displaying the chat is not possible with ARC, because it does not respond to received packages from the BE server. _(See #18)_
 Even if this is done, you won't get very far, because PHP is not a  suitable language for this situation. You would have to use some kind of daemon and check for packages every second. You would better use NodeJs,

[2016-11-28 18:47] #19 closed, assigned to nobody

[2016-11-28 20:26] MightySCollins commented on #19
If you REALLY wanted to integrate it and use PHP it might be an idea to have a CLI process with a constant connection which exposes an API or writes to a file/database. Or a websocket which keeps a connection to the server open (not sure how well this would scale).

If you do go down the websocket route let me know as I would be very interested.

[2017-01-27 23:08] Pacerino opened #20 "Functions not working after getPlayersArray()"
Hallo Felix!

wie du in einem [anderen Issue](https://github.com/Nizarii/arma-rcon-class-php/issues/12) beschrieben hast, funktionieren die Funktionen nicht mehr nachdem eine andere bereits aufgerufen wurde. Du hast dies mit dem Befehl _$this->reconnect();_ gelöst doch nicht überall eingetragen.

Heute musste ich leider feststellen dass die Funktion _getPlayersArray()_ ebenfalls dieses Problem auf

[2017-01-28 08:30] felixms commented on #20
Danke für den Hinweis! 👍

[2017-01-28 08:36] #20 closed, assigned to nobody

[2017-02-18 15:48] cat24max opened #21 "sayPlayer Wrong Parameters"
Am I stupid?
I am providing an integer for the player and a message as a string and the answer I get is "Wrong parameter type(s)!"

Am I doing something wrong?

[2017-02-18 16:05] felixms commented on #21
Mmh, something must be wrong with your code :/ This snippet validates the parameter types:
[code]

[2017-02-18 16:10] felixms commented on #21
If you are 100% sure, that your types are correct, you can work around by sending the command "manually":
[code]

[2017-02-18 17:24] cat24max commented on #21
I have just double checked my types...
The player ID is even intval()'ed before and the message is a string.
I am sending the command over a JSON api, so I'll have to look into that again.

[2017-02-18 17:41] cat24max commented on #21
Anyway, it works with the manual say command

[2017-02-18 18:25] #21 closed, assigned to nobody

[2017-02-22 21:43] WASasquatch opened #22 "Heartbeat"
When using the heartbeat code I get:

```<b>Fatal error</b>:  Call to private method Nizarii\ARC::sendHeartbeat() from context '' in <b>heartbeat.php</b> on line <b>16</b><br>```

[2017-02-22 21:48] #22 closed, assigned to nobody

[2017-02-27 19:58] WASasquatch opened #23 "RCON Login Spam"
When I run a simple script to connect, and get users and bans, In my RTP the RCON script will login multiple times. Usually between 3-6 but sometimes more. I used to have a heartbeat script which checked the online status once every 2 minutes, and that would cause excessive RCON login spam. I have followed the construct of your class, and am disconnecting from the server, and PHP Access logs only

[2017-02-27 20:45] felixms commented on #23
I am currently not at home, I am going to take a look at it tomorrow.

[2017-02-28 13:22] felixms commented on #23
The login spam is caused by a reconnect which is done after getting players or bans from the server. This reconnect is a workaround for various bugs, so I won't remove it. Basically every time you get the players from the server, a new admin will login. However I stumbled across a little mistake I made some months ago while I was fixing a bug. After receiving the players, the reconnect method got

[2017-02-28 13:22] #23 closed, assigned to nobody

[2017-03-02 22:19] WASasquatch commented on #23
Thanks, the explanation and looking into the code, it makes sense.

[2017-08-02 23:03] rruizrod opened #29 "getPlayerArray() format"
What exactly is the format of the array that is given when getPlayerArray() is called? I am trying to display the player list as a table on a control panel but for me to display them I need to know what the indexes are for the array. If you could please help it would be greatly appreciated.

[2017-08-03 06:11] felixms commented on #29
TBH I don't exactly know anymore, but just use `var_dump($array)` to see the array and you'll know :)

[2017-08-03 06:12] #29 closed, assigned to nobody

[2017-08-05 04:20] rruizrod commented on #29
How would I get it to show a full player list because at the moment it only shows the last person connected and not a list of all players. It seems as though the getPlayersArray() function prints to only one array

[2017-08-05 06:40] nerdalertdk commented on #29
Sounds like and php problem and NOT an arc problem.

Show us your code ?

[2017-08-06 05:31] rruizrod commented on #29
[code]
That is the code I have for it to show the player table on the page. As of right now it only shows the last person to have connected to the server.

[2017-08-06 08:26] felixms commented on #29
By saying `$array = $array["0"];`, you just select the first element in the array, which is the reason why it shows only the last person to have connected. In order to show <b>all</b> players, you have to iterate over the array with a [foreach](http://php.net/manual/en/control-structures.foreach.php) loop.

[2017-08-06 10:58] nerdalertdk commented on #29
Foreach($array AS $player)
{
    var_dump($player);
}

[2017-08-06 10:58] nerdalertdk commented on #29
Also the number inside [] dont need ' or "

More info here https://www.google.dk/search?q=php+for+beginners

[2017-10-24 12:02] steffalon commented on #2
Hey @schaeferfelix , do I have to use **getSocket()** function to get the chat/rcon logs? I know it will return a stream resource but how do I make it constant? I have tried to use reactphp loops/streams but it looks like when I ran **getSocket()** every time it will only send it once and not the whole stream. I only get **"logged in"** responds but then it stops executing further. Do I have to ch

[2017-10-24 12:48] steffalon opened #30 "Chat stream not constant"
Hey, do I have to use **getSocket()** function to get the chat/rcon logs? I know it will return a stream resource but how do I make it constant? I have tried to use **reactphp** loops/streams but it looks like when I ran **getSocket()** every time it will only send it once and not the whole stream. I only get **"logged in"** responds but then it stops executing further. Do I have to change somethi

[2017-10-24 13:14] nerdalertdk commented on #30
Gettings Chat/log is not supported out of the box

https://github.com/schaeferfelix/arma-rcon-class-php/issues/19
https://github.com/schaeferfelix/arma-rcon-class-php/issues/2

[2017-10-24 16:15] felixms commented on #30
As @nerdalertdk already pointed out, this is quite difficult to realise. You need to acknowledge and validate the response from the server in order to keep the connection alive, see #18 and #16.

[2017-10-24 16:26] steffalon commented on #30
Well I maybe have found something interesting. I have found another Github repository but written in Python script. See repository [here](https://github.com/indepth666/py3rcon). Maybe we can make it kinda the same in PHP. [Here](https://github.com/indepth666/py3rcon/blob/master/lib/rconprotocol.py) they keep having their constant connection with the server.

[2017-10-25 07:09] felixms commented on #30
Feel free to contribute to this project! I currently don't have much time in my spare time, so anything regarding this issue must be done by someone else.
But keep in mind, that the rcon client must acknowledge all received packages and send an empty package every x seconds to the server, in order to keep the connection alive.
That's why I skipped this issue some time ago, because it's far beyond

[2017-10-26 12:02] steffalon commented on #30
I have good news, I made some progress but its still in development. Its a mess right now but the for loop keeps waiting for user input, only when someone said something, it keeps refreshing on the same message and can timeout. But it won't time out if there is no output from the server.

[code]

--------------------------------------------------------------
**# [EDIT] You can already do chat logg

[2017-10-26 12:24] steffalon commented on #30
I think I miss the acknowledge respond. Not sure tho. But I can't figure it out how to acknowledge my request.
[https://www.battleye.com/downloads/BERConProtocol.txt](https://www.battleye.com/downloads/BERConProtocol.txt)

[2017-10-29 13:35] steffalon commented on #30
Does anyone have an idea how to send a acknowledge code to the Battleye server? I have still no clue what kind of values I have to send to the server.

[2017-11-10 08:40] nerdalertdk commented on #30
Might be worth the take al look here
https://github.com/marceldev89/BattleNET

https://github.com/marceldev89/BattleNET/blob/master/BattleNET/BattlEyeClient.cs#L227

[code]

[2017-11-12 00:26] 0FakE commented on #30
@steffalon
Did you find a solution for this already?

I would really like to use the possibility of a constant connection to the server.
To recive the status messages and to send commands to the server.

[2017-11-13 11:01] steffalon commented on #30
Hey @0FaKE , well I haven't found it yet.

@nerdalertdk it seems its a heartbeat respond and looks similar like this:

**Helpers.Hex2Ascii("FF02")** ==

[code]

This is interesting. If I remove the heartbeat **socket_sendto** call in the for loop that I have posted a few weeks ago, it will time out if I login in server **(first message from socket)**, because it gives me a logon message via socket

[2017-11-13 12:34] nerdalertdk commented on #30
Have you checked your php max_execution_time ?

[code]

Can see there is no limit if you run in cli

[2017-11-13 13:42] 0FakE commented on #30
@nerdalertdk

The execution time isn't the problem here.

It's also strange the loop ends exactly after an output of 6 rows, always.
I guess the heartbeat sending or acknowledging isn't working however...

I'm reciving my own login message and one more server message.

 (Side) abgas: if we want to win stop para's all pilot snow
 (Side) abgas: if we want to win stop para's all pilot snow
 (Side) ab

[2017-11-13 16:49] steffalon commented on #30
@nerdalertdk I'm using a command line. Its giving me a 0 in ini_get.

@0FaKE I think its because it didn't acknowledge the second one successfully. First time does for some reason. Battleye will do this if it fails to respond:

Source: [https://www.battleye.com/downloads/BERConProtocol.txt](https://www.battleye.com/downloads/BERConProtocol.txt)

[2017-11-25 17:59] 0FakE commented on #30
@steffalon Something new already about the acknowledge issue?

Btw. something which isn't working also is the fact
you can't even send commands to the server.

Your variable `$text = ''` is completly ignoring sent commands.

It seems like it's also not possible to recive direct answers from BE.
For example send a RCon command like **commands** won't give you an answer.

[2017-11-28 16:50] steffalon commented on #30
@0FaKE sorry for the late answer. I didn't make any progress of solving this issue. The thing is, I did something that in the first loop, it acknowledge the data but doing the same process again won't do it. I have no clue why this isn't working the second time. Heartbeat respond is correct but second time its not doing anything.

[2017-12-18 09:25] nerdalertdk commented on #30
Maybe this could help ?
if it works with amphp/amp we should make it as an WIKI article and not merge it

https://www.sitepoint.com/modding-minecraft-with-php-buildings-from-code

[2017-12-21 12:21] steffalon commented on #30
@nerdalertdk I'm going to investigate how that library works. But I also found this from ampphp: [https://github.com/amphp/socket/tree/13341decaa12f4f264869bdb94fc0dc770aaa784](https://github.com/amphp/socket/tree/13341decaa12f4f264869bdb94fc0dc770aaa784). This is getting very interesting.

[2017-12-21 17:02] 0FakE commented on #30
Just figured out now the issue is definitly about acknowledging the packets betweens server to client and the "heartbeat" itself.

Like we know the server accepts the heartbeat message only once a time and will timeout the client 10s later even if he sends the heartbeat again.

@steffalon

So you should ask yourself how to acknowledge status messages from server to client.

Still found no answer f

[2017-12-23 16:05] steffalon commented on #30
@0FaKE @nerdalertdk While I was investigating, I found something odd. And also I think this is getting a step closer to a fully streamed log system. It's still not really working but it is getting strange behaviours while running.

`
$pass = "";
$ip = "";
$port = ;

$text = '';

$msgseq = 0;

//Generate CRC32 for pass and msg
$authCRC = crc32(chr(255).chr(00).trim($pass));
$authCRC = sprintf("%x",

[2017-12-24 12:11] steffalon commented on #30
I found a NodeJS script version and that is a constant connection with command line interface. See [here](https://github.com/Kaibu/node-be/blob/master/index.js). Maybe this will help our research.

[2017-12-24 16:03] steffalon commented on #30
Big news! I found the problem. Its the code of the acknowledge  package that keep changing after the first time. I have noticed it uses an algorithm (so every time that you login, has same fomulier steps). Let me explain it better on the examples.

Here, for example:

**First run in NodeJS:**

[code]

**Second run in NodeJS:**

[code]

`<Buffer 42 45 c7 de e6 ea ff 02 03>`

42 52 = BE

c7 de e6 ea

[2017-12-25 16:44] steffalon commented on #30
Hello participants and developers!

After the theory that I was telling last time, helped me alot **and  I can even make it to work!** I am using **ReactPHP** library but its **not required**. But using this code with ReactPHP, you can write commands in the commandline and the structure makes it more readable for developers. So here you go! Realtime socket listener that won't disconnect! This coul

[2017-12-25 17:13] felixms commented on #30
First of all, congratulations! 🎉  Good work on this issue by all contributors. Thank you all for your work and sharing your knowledge, so other developers can use your code and contribute too! I'm always amazed by the power of open source! ❤️

As @nerdalertdk already suggested, I think adding a Wiki article for this issue would be appropriate. Furthermore we can reference this article in the READM

[2017-12-25 20:39] steffalon commented on #30
I found only 1 bug, if I send [players] command, the next acknowledge will fail. I'm finding out what I can do.

@schaeferfelix maybe you could add a function called listenToSocket() and if the user want to get out of the loops (ReactPHP) is to type "exit". We have to comment the code and do alot of cleanup.

[2017-12-25 21:52] steffalon commented on #30
I found the problem. For "some" if there are many people, and you say "players", you need to make an other step backwards with the sequence.

Also, here is a small fix that sequence isn't going to negative.

[code]

[2017-12-26 04:01] 0FakE commented on #30
@steffalon

For servers with lots of players you need multiple packets due to packet size limitations.

Like you can see in the protocoll it is "a step backwards in the sequence" like you said.

Btw. would you zip me the reactPHP library please?
Seems like the master is corrupt or non-updating on Github.

[2017-12-26 04:16] 0FakE commented on #30
I'm already using the RCON class for a long time.

As you can (may) see in the screenshots I'm managing lots of servers with
tons of people on it. Old control panel builds we're not _live_ and the website
took seconds to load.

Since weeks and months now I'm working on the PHP live version which isn't
as easy as you know also because I'm not that professional coder...

The last screenshot is test

[2017-12-26 11:59] steffalon commented on #30
@0FaKE are you using **composer**? If so, remove vendor and reinstall your libraries. All libraries are saved in your composer.json file.

This is my **composer.json** file content.

[code]

I can try to make a reconnect function. But also I have to find out how to handle multiple packets.

[2017-12-26 13:27] nerdalertdk commented on #30
An idea could be the make an wiki for each framework so one page for Native, Laravel, React and so on

[2017-12-26 15:05] felixms commented on #30
Sounds great to me. I think the goal should be implementing the code by @steffalon into the class (cleaned up and issue by @0FaKE fixed), so that realizing this feature in any framework is as easy as possible.
Afterwards we can add wiki articles for each framework.

[2017-12-26 15:14] felixms opened #31 "Add methods for keeping the connection alive"
Adding new methods to the class in order to keep a connection to the server alive. This is useful for receiving the chat and log stream.

Pioneering work done by @nerdalertdk,@steffalon, @0FaKE - see #30.

[2017-12-26 15:17] felixms commented on #30
🔒   Moved this thread to #31 in order to keep the issue tracker organized. Please go on in #31  😄

[2017-12-26 17:25] steffalon commented on #31
I made my code more understandable for the documentation [from BattlEye](https://www.battleye.com/downloads/BERConProtocol.txt). Also I made many comments so editing this code much more easy.

If you notice, I made a switch right now. This makes much more sense what will happen with the hexbyte data.

I have added `debug` mode if some users don't want to get bothered with developer echo's or vardu

[2017-12-26 17:44] steffalon commented on #31
Send a post to this repository if you are facing problems with multiple packaging. This will help alot because its hard to test it if my server doesn't have any big data to send 😆 .

**Edit**
I think my code works after checking many times multiple packaging acknowledge. Now the reconnect function.

[2017-12-26 18:23] steffalon commented on #31
I have a question. Do I have to modify the whole class to a full stream or just call a method of the class to have a streamed connection?

[2017-12-26 18:35] 0FakE commented on #31
@steffalon

I can help you testing and improving the script with lots of full servers to send/recive packets in any way and in any size.

The full list of **players** command is already very big.

We can also go up to limitations by trying to recive bans.txt file with 387 KB size (~60000 bans)

Im controlling the right servers to test that stuff. :)

Would be cool to hear from you and expanding th

[2017-12-26 18:48] steffalon commented on #31
@0FaKE well I'm highly motivated to make this a perfect tool. Also its good for my knowledge and portfolio work. And I am looking "very much" forward hearing from you about multiple packaging function.

[2017-12-26 19:08] 0FakE commented on #31
@steffalon

Sure I’m doing what I can to solve this issue.

Btw. if you have issues to generate multi packet messages you can simply fill up your bans.txt file with around 1000 bans and run command **bans** to recive them as text.

This will definitely need multi packets, always to test where the issue may is.

[2017-12-26 19:26] steffalon commented on #31
@0FaKE well I think it works. I have tested it but I'm not sure about overloaded packets. But I'm really interested if it works for you too.

[2017-12-26 19:53] 0FakE commented on #31
@steffalon

I will be able to test it tomorrow.
But I’m running the setup as PHP websocket to be able to let clients (admins) connect to the persistent connection whenever they need it.

But for now please zip me the reactPHP files.
The setup is a temporarily one on Windows without composer where the some more test Arma servers are located additionally to the public ones.

[2017-12-26 20:20] steffalon commented on #31
ReactPHP download: https://drive.google.com/open?id=1eF4yH1nRE_Y6B_J8MuP73Jl9QKtIshcz

[2017-12-26 23:14] felixms commented on #31
If I understand you right: this issue should be an optional feature, the current api of the class should not be changed, so existing projects don't break. In order to get a constant connection, additional methods should be called.

[2017-12-27 15:25] steffalon commented on #31
I made a "failed to login" responder. Also added if the server doesn't exist, the user will get notified.

I can try to make this script more suitable for websites. Its unloadable for websites atm because PHP won't let users get data if its not fully loaded and ReactPHP keeps in an infinite loading loop. So I have to make an option that they can set their own timeouts. For example, get every 'x' s

[2017-12-28 14:42] steffalon commented on #31
I'm testing http server build in ReactPHP so this script would be able to send data to websites.

**BERcon.php**
[code]

**index.html**
[code]

After I was building this, I read on ReactPHP documentation that they don't support "keep-alive" HTTP1.1 header stream yet. It goes automaticly on close every time that the user want to read that port.

![httpheader](https://user-images.githubusercontent.c

[2017-12-28 16:37] steffalon commented on #31
Nvm about HTTP header stream. It was a good idea if it really works. Now I'm thinking about using [this](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events#Event_stream_format).

Only a huge downside is, some browsers [IE] for example, doesn't support it.

[2017-12-29 15:37] steffalon commented on #31
@schaeferfelix

But should I make a log file when there is a constant connection? Or trying to stay as commandline interface?

I added SSE mode here but it is useless for me right now because everyone can listen to that script. It is hard to make better security on that one. But if you want to try it, its there.

[code]

[2017-12-30 12:35] felixms commented on #31
@steffalon Sorry for the late answer, I am currently on vacation. To answer your question: a log file should not be created by ARC. Because for such a feature, even though it’s not required, a logging library would be appropriate. But ARC should run without any dependencies, so people using ARC the old school way, without composer, don’t run into trouble. Cheers!

[2017-12-30 16:04] steffalon commented on #31
Hey @schaeferfelix,

You said to me that you don't want any dependencies. So I wrote new code for that reason without ReactPHP. If this code doesn't have any issues, we could implement it to your ARC project. The downside of making this code, is that the commandline cannot send commands to the server anymore.

[code]

[2018-01-09 21:32] #30 closed, assigned to nobody

[2018-01-09 21:35] #31 closed, assigned to nobody

[2018-01-26 11:32] FSProgramming-de opened #34 "$rcon->sayGlobal nur einmal ausführbar"
Hallo,

Ich habe ein Restart-System für meinen Arma Server erstellt.
Das Restart system soll eigentlich 10 Sekunden bevor der Server restartet, hingehen und mittels sayGlobal Eine Nachricht schicken und danach von 10 runter zählen.

Ich habe mir dafür ein PHP-TCP Server erstellt:
[code]

In dem Server baue ich eine RCON Verbindung auf, und wollte diese dann für alle Anfragen nutzen.

Aber er sende

[2018-01-29 21:26] felixms commented on #34
Vorweg würde ich dich darum bitten, Issues in Englisch zu erstellen, da viele Beteiligte an dem Projekt kein Deutsch sprechen und nur ich dir so helfen kann.
Nun zu deiner Frage: das ist sehr komisch :/ ich kenn einige die ARC in Prod. nutzen und keine Probleme haben. So kann ich mir nur eine Verbindung zu #31 erklären, dass die Verbindung vom Server getrennt wird, da die Packages nicht "bestätigt

[2018-02-01 12:56] steffalon commented on #34
Hi @DLRG-Dominik ,

When sending a command like, say something in global, you need to acknowledge the command package that you have been sending to the server. [See my ReactPHP](https://github.com/schaeferfelix/arma-rcon-class-php/issues/31#issuecomment-354460932) example and in there you can make a timer of 10 seconds to restart your game server. Keep in mind that you need dependencies when using

[2018-02-01 13:01] #34 closed, assigned to nobody

[2018-07-22 13:41] fruityrooty opened #35 "RCON Console"
Hey buddy, i'm trying to build a live console in the browser to monitor chat.
We've tried it using the socketLoop function, and using reconnect(); sadly enough without success, in the end we did manage to read one of the lines (the Rcon Admin logged in), but then it closes the socket.
Do you have an example how to do this?

[2018-07-23 19:41] nerdalertdk commented on #35
Answer should be in here

https://github.com/schaeferfelix/arma-rcon-class-php/issues/30

[2018-10-18 16:15] kobadg opened #36 "Unable to ignore/catch login error."
I have a few servers that I am checking against, and getting the number of players for. However if the rcon or server isn't on, I get an exception when trying to connect (line 199 in the arc.php file). The exception is great, except when I try to surround it in a try/catch block... it's acting as if the try/catch is ignored completely? Or maybe I'm just not understanding it... but hopefully I can

[2018-12-05 10:11] steffalon commented on #35
Hi @fruityrooty, Did you use socketloop(**-1**)? Also you could try using SSE (Server-Send Event) method. Also maybe socket.io websocket could be interesting. If you create php websocket server and ARC as middleware,  you can read realtime server output without any SSE downsides.

I made a SSE example here: #31

[2018-12-05 10:18] steffalon commented on #36
Hi @kobadg,

Maybe [this](https://stackoverflow.com/a/34210279) will help. We use \Exception class.

[2018-12-28 11:04] felixms commented on #35
Issue closed because of inactivity.

[2018-12-28 11:04] #35 closed, assigned to nobody

[2018-12-28 11:04] felixms commented on #36
Issue closed because of inactivity.

[2018-12-28 11:04] #36 closed, assigned to nobody

[2018-12-28 20:47] fruityrooty opened #37 "fwrite error"
@steffalon i don't suppose you could contact me via discord Root#4362

I've been having this issue for days now between myself and my host we have white listed everything and attempted everything i cannot for the life of me figure out the solution to this error

`[28-Dec-2018 16:24:13 Europe/London] PHP Notice:  fwrite(): send of 9 bytes failed with errno=1 Operation not permitted in /home/malibua

[2019-02-06 00:11] GhostikGER opened #38 "__construct doesnt work"
Is the script compatible with PHP7?
I get the following error message:

Fatal error: Uncaught Exception: Wrong constructor parameter type(s)! in C:\xampp\htdocs\ArmaRConClass\rcon.php:77 Stack trace: #0 C:\xampp\htdocs\rCon\getPlayers.php(7): Nizarii\ARC->__construct('localhost', int, 'password') #1 {main} thrown in C:\xampp\htdocs\ArmaRConClass\rcon.php on line 77

But I see no real mistake in it

[2019-02-06 10:31] GhostikGER commented on #38
I´m sry, i was stupid. I have wrong Port or IP Adress... Sry, I didn´t read it complete.

[2019-02-06 10:34] #38 closed, assigned to nobody

[2019-02-18 21:52] GhostikGER opened #39 "Fatal error: Uncaught Exception: Wrong constructor parameter type(s)!"
Hallo,

ich hab echt lange Probiert.
Egal welche Zugänge ich eingebe, er gibt mir jedesmal die Fehlermeldung:

` $rcon = new ARC('12.123.123.12', 'Passwort', '2903');
        $array = $rcon->getPlayersArray();
        debug($array);`

Wenn ich allerdings die Zugangsdaten mit einem RCON Programm von 2014 öffne, kann ich mich direkt verbinden! Ist die Version mittlerweile zu alt?

LG Max

[2019-02-19 09:45] nerdalertdk commented on #39
'2903' should be 2903

The error says you have the wrong type in the paramenter, the port is an int not an string

[2019-03-15 14:20] felixsch28 opened #40 "No Connection und Loading Time"
Hi.
Sometimes the connection stops and when I am reloading the site, it says: no connection, wrong login data or something like that.

But my main problem is, that my website loads very long. When there are 5 players the site loads really fast but when the server got about 60 to 80 players, the site take 8 seconds to load until it's ready. Maybe you got a good solution to list all players without

[2019-07-15 07:29] #39 closed, assigned to nobody

[2019-07-15 07:31] felixms commented on #40
Caching.
Hope you find any use with that answer, considering it being so late! 😅

~ Felix :)

[2019-07-15 07:31] felixms commented on #40
Feel free to open the issue again, if you still have any questions.

[2019-07-15 07:31] #40 closed, assigned to nobody

[2019-09-17 16:15] realBlxcky opened #42 "Web console help"
Guten Tag Felix,
erstmal danke das du eine so schöne API hier hast
aber kommen wir mal zum wichtigen ich würde gerne eine Web Rcon Console machen
könntest du mir evt. sagen wie es geht ich bin via Discord erreichbar  Blxcky | Fabian#4724
danke :D

[2019-09-17 20:04] felixms commented on #42
Hallo! Sollte es Dir rein um die Funktionalität gehen, empfehle ich Dir bereits vorhandene, etablierte Software zu nutzen. Wenn Du nun aber selbst basteln willst, solltest Du folgende Punkte beachten:
- das einfache Senden von Befehlen, auch oder gerade mit Browser input ist kein Probelm
- alles was darüber hinaus geht, wie zB. das Aufzeichnen von eingegangenen Nachrichten (History), wird durch PH

[2019-09-17 20:04] #42 closed, assigned to felixms

[2019-12-26 00:20] KeksKartoffel opened #43 "Can't connect. Always get Login error"
If I establish a connection as in the readme, I only get the error: "Ups! Something went wrong: Login failed, wrong password or wrong port!"
**Although the port and password must be correct.**
I already tested the whole RCON connection with the BattleEye "BERCon" client for Windows. There I have no connection problems, everything works. I only get the error here.

Tested Code:

[code]

Would be ni

[2019-12-26 23:02] #43 closed, assigned to nobody

[2020-01-05 13:45] Dunkstormen opened #44 "Optimization? Avoid RCON connection spam"
I've started playing around with your class in my project. It is working fine for me. But I don't know if there is a smarter to do what I'm doing.

I have created some sort of profile for each player on the server where I can see if they're online on the server by sending a call to the RCON. However I create a new connection every single time meaning that every single time a players profile is acc

[2020-01-07 14:23] felixms commented on #44
Easiest thing to do would be using a cache,  say you query just every 5 minutes. Reduces server load and is less prone to errors.

[2020-02-02 08:05] Ruslan-700 opened #45 "Login fails with some rcon passwords"
Login fails with some rcon passwords, eg **DA5JQxtvFZO**
Tested on Dayz Standalone servers.

[2020-02-09 09:32] realBlxcky opened #46 "Fatal Error Class Nizarii\ARC not Found"
Guten Tag, ich wollte mir gerade das ARC wieder auf setzen aber bekomme immer diesen Fehler wenn ich eine neue verbindung aufbauen will

Fatal error: Uncaught Error: Class 'Nizarii\ARC' not found in C:\xampp\htdocs\rcon\test.php:5 Stack trace: #0 {main} thrown in C:\xampp\htdocs\rcon\test.php on line 5

Ich versuche eine Verbindung wie über das Beispiel herzustellen aber es funktioniert nicht könn

[2020-02-10 14:00] felixms commented on #46
Ohne deine Datei `test.php` gesehen zu haben, würde ich schwer behaupten, dass du ARC falsch, bzw. erst garnicht importiert hast.

Versuchs mal `require_once 'DEIN_PFAD_ZUR_DATEI/arc.php';`
oder nutze einfach den Autoloader von Composer.

Ich schließe diesen Thread mal bis auf weiteres. Sollte noch was unklar sein, kannst du ihn gerne wieder aufmachen.

[2020-02-10 14:00] #46 closed, assigned to nobody

[2020-02-13 17:56] MrBlackZombieHD commented on #46
<?php
require_once 'arc.php';

try {
    $rcon = new ARC('127.0.0.1', 'password');

    $array = $rcon->getPlayersArray();

    $rcon
        ->sayGlobal('example')
        ->kickPlayer(1, 'example')
        ->sayPlayer(0, 'example')
        ->disconnect()
    ;

    $rcon->getBans(); // Throws exception, because the connection was closed
} catch (Exception $e) {
    echo "Ups! Something went wron

[2020-02-13 18:03] felixms commented on #46
Da fehlen doch ein paar Zeilen am Anfang oder? Wenn nein würde mich wundern, dass du überhaupt zu dem Fehler gekommen bist.
Ich verweise nochmal darauf:

oder nutze einfach den Autoloader von Composer.

Du solltest vllt mal nachlesen, wie man libraries in PHP importiert.

[2020-02-13 19:22] #44 closed, assigned to nobody

[2020-02-13 19:41] MrBlackZombieHD commented on #46
<?php
require_once 'arc.php';

try {
    $rcon = new ARC('127.0.0.1', 'password');

    $array = $rcon->getPlayersArray();

    $rcon
        ->sayGlobal('example')
        ->kickPlayer(1, 'example')
        ->sayPlayer(0, 'example')
        ->disconnect()
    ;

    $rcon->getBans(); // Throws exception, because the connection was closed
} catch (Exception $e) {
    echo "Ups! Something went wron

[2020-02-13 19:41] realBlxcky commented on #46
`<?php
require_once 'arc.php';

try {
    $rcon = new ARC('127.0.0.1', 'password');

    $array = $rcon->getPlayersArray();

    $rcon
        ->sayGlobal('example')
        ->kickPlayer(1, 'example')
        ->sayPlayer(0, 'example')
        ->disconnect()
    ;

    $rcon->getBans(); // Throws exception, because the connection was closed
} catch (Exception $e) {
    echo "Ups! Something went wro

[2020-02-13 20:02] felixms commented on #46
Du verwendest den [namespace](https://www.php.net/manual/de/language.namespaces.php) nicht.

[code]

[2020-05-14 09:51] cat24max commented on #37
This looks a little like PHP has no permission to fwrite() to the UDP socket.

[2020-05-29 15:24] JakeLBeans commented on #45
Also having this issue. Spent a good hour thinking I'm missing something silly but it's definitely not wrong.

[2020-05-29 15:44] Ruslan-700 commented on #45
Check my pull request
apparently the project is already abandoned

[2020-05-29 15:54] JakeLBeans commented on #45
@Ruslan-700 you're a legend! Thank you!

[2020-06-06 17:16] felixms commented on #45
Thank you very much @Ruslan-700 for helping out! 👏 I merged your pull request #47.

[2020-06-06 17:16] #45 closed, assigned to nobody

[2020-08-02 18:09] tomfcz opened #48 "Error while executing some commands"
Hello,
I am currently in the process of setting up RCON on PHP for a project. We quickly encountered a problem; some commands are sent but nothing is done in-game. After much research, I decide to write to you here.
The connection is made and valid on the server.
For example, the **sayGlobal** command works perfectly, same for the **addBan** command but the **banPlayer** or even **kickPlayer** com

[2020-08-03 11:37] #48 closed, assigned to nobody

[2022-05-13 17:19] EliHagage opened #50 "php-library"
where can i find the php-library for that PHP
any one please help me

[2022-05-17 07:24] nerdalertdk commented on #50
Hi

Not quite sure what you a talking about ?
the readme is pretty straight forward

## Installation
#### Via Composer *(recommended)*
If you haven't already, download Composer.
[code]
Now require and install ARC.
[code]

#### Without Composer
Choose a [release](https://github.com/Nizarii/arma-rcon-class-php/releases) and include ARC in your project: `require_once 'arc.php';`.
<br>
<br>
## Example